In [1]:
import pandas as pd
data=[1,2,3,4]
series1=pd.Series(data)
print(data)
series1

[1, 2, 3, 4]

0    1
1    2
2    3
3    4
dtype: int64

In [6]:
type(series1)

pandas.core.series.Series

In [8]:
series1=pd.Series(data,index=['a','b','c','d'])
series1

a    1
b    2
c    3
d    4
dtype: int64

In [3]:
#How To create DataFrame
data1=[1,2,3,4,5,6]
df=pd.DataFrame(data1)
df

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [4]:
dic={'fruits':['apples','banana','mangoes'],'count':[10,20,15]}
df=pd.DataFrame(dic)
df

    fruits  count
0   apples     10
1   banana     20
2  mangoes     15

In [6]:
series=pd.Series([6,12],index=['a','b'])
df=pd.DataFrame(series)
df

    0
a   6
b  12

In [7]:
#Creating Dataframe Using Numpy array

import numpy as np
nm=np.array([[5000,6000],['Shavej','Junaid']])
df=pd.DataFrame({'name':nm[1],'salary':nm[0]})
df

     name salary
0  Shavej   5000
1  Junaid   6000

# How to Perform Merge OPeration

In [13]:
import pandas as pd
player=['player1','player2','player3']
point=[10,8,9]
title=['Game1','Game2','Game3']
df1=pd.DataFrame({'Player':player,'Point':point,'Title':title})
df1

    Player  Point  Title
0  player1     10  Game1
1  player2      8  Game2
2  player3      9  Game3

In [14]:
player=['player1','player5','player6']
punch=['Punch',"kick","Elbow"]
title=['Game1','Game5','Game6']
df2=pd.DataFrame({'Player':player,'Punch':punch,'Title':title})
df2

    Player  Punch  Title
0  player1  Punch  Game1
1  player5   kick  Game5
2  player6  Elbow  Game6

In [15]:
#Inner Merge
df1.merge(df2,on='Title',how='inner')

  Player_x  Point  Title Player_y  Punch
0  player1     10  Game1  player1  Punch

In [16]:
df1.merge(df2,on='Player',how='inner')

    Player  Point Title_x  Punch Title_y
0  player1     10   Game1  Punch   Game1

In [17]:
#Left Merge
df1.merge(df2,on='Player', how='left')

    Player  Point Title_x  Punch Title_y
0  player1     10   Game1  Punch   Game1
1  player2      8   Game2    NaN     NaN
2  player3      9   Game3    NaN     NaN

In [18]:
#Right Merge
df1.merge(df2,on='Player', how='right')

    Player  Point Title_x  Punch Title_y
0  player1   10.0   Game1  Punch   Game1
1  player5    NaN     NaN   kick   Game5
2  player6    NaN     NaN  Elbow   Game6

In [19]:
#Outer Merge
df1.merge(df2,on='Player', how='outer')

    Player  Point Title_x  Punch Title_y
0  player1   10.0   Game1  Punch   Game1
1  player2    8.0   Game2    NaN     NaN
2  player3    9.0   Game3    NaN     NaN
3  player5    NaN     NaN   kick   Game5
4  player6    NaN     NaN  Elbow   Game6

# How to Perform Join Operation

In [24]:
player=['player1','player2','player3']
point=[10,8,9]
title=['Game1','Game2','Game3']
df3=pd.DataFrame({'Player':player,'Point':point,'Title':title},index=['L1','L2','L3'])
df3

     Player  Point  Title
L1  player1     10  Game1
L2  player2      8  Game2
L3  player3      9  Game3

In [27]:
player=['player1','player5','player6']
punch=['Punch',"kick","Elbow"]
title=['Game1','Game5','Game6']
df4=pd.DataFrame({'Players':player,'Punch':punch,'Titles':title},index=['L2','L3','L4'])
df4

    Players  Punch Titles
L2  player1  Punch  Game1
L3  player5   kick  Game5
L4  player6  Elbow  Game6

In [28]:
# Inner Join 
df3.join(df4, how='inner')

     Player  Point  Title  Players  Punch Titles
L2  player2      8  Game2  player1  Punch  Game1
L3  player3      9  Game3  player5   kick  Game5

In [29]:
#Left Join 
df3.join(df4, how='left')

     Player  Point  Title  Players  Punch Titles
L1  player1     10  Game1      NaN    NaN    NaN
L2  player2      8  Game2  player1  Punch  Game1
L3  player3      9  Game3  player5   kick  Game5

In [30]:
#Right Join 
df3.join(df4, how='right')

     Player  Point  Title  Players  Punch Titles
L2  player2    8.0  Game2  player1  Punch  Game1
L3  player3    9.0  Game3  player5   kick  Game5
L4      NaN    NaN    NaN  player6  Elbow  Game6

In [31]:
#Outer Join 
df3.join(df4, how='outer')

     Player  Point  Title  Players  Punch Titles
L1  player1   10.0  Game1      NaN    NaN    NaN
L2  player2    8.0  Game2  player1  Punch  Game1
L3  player3    9.0  Game3  player5   kick  Game5
L4      NaN    NaN    NaN  player6  Elbow  Game6

# How to Concatenate using df

In [32]:
pd.concat([df3,df4])

c:\users\shavej shaikh\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

     Player  Players  Point  Punch  Title Titles
L1  player1      NaN   10.0    NaN  Game1    NaN
L2  player2      NaN    8.0    NaN  Game2    NaN
L3  player3      NaN    9.0    NaN  Game3    NaN
L2      NaN  player1    NaN  Punch    NaN  Game1
L3      NaN  player5    NaN   kick    NaN  Game5
L4      NaN  player6    NaN  Elbow    NaN  Game6